---
layout: page
title: Uğur Benli - .Net Developer
lang: tr
subtitle: Yazılım sevdalısı, gelişime açık ve ortam bağımsızlığını savunan bir developer :)
use-site-title: true
ref: index-page  
---

<div class="posts-list container-fluid">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
  {% if post.blog %}
  <article class="row post-preview">
    <span class="col-sm-2 post-date hidden-xs">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}{{ site.t_date[page.lang].January }}
        {% when '2' %}{{ site.t_date[page.lang].February }}
        {% when '3' %}{{ site.t_date[page.lang].March }}
        {% when '4' %}{{ site.t_date[page.lang].April }}
        {% when '5' %}{{ site.t_date[page.lang].May }}
        {% when '6' %}{{ site.t_date[page.lang].June }}
        {% when '7' %}{{ site.t_date[page.lang].July }}
        {% when '8' %}{{ site.t_date[page.lang].August }}
        {% when '9' %}{{ site.t_date[page.lang].September }}
        {% when '10' %}{{ site.t_date[page.lang].October }}
        {% when '11' %}{{ site.t_date[page.lang].November }}
        {% when '12' %}{{ site.t_date[page.lang].December }}
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </span>
    <div class="col-sm-10 col-xs-12">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <span class="post-title">{{ post.title }}</span>
      </a>
    </div>
  </article>
  {% endif %}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Yeni yazılar</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Eski yazılar &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
