---
layout: page
title: Hello, I'm Ugur
lang: en
subtitle: Welcome to my page, you can browse my posts or use the links above for learn about me and to search in the page 🙂
use-site-title: true
ref: index-page
bigimg:
- "/img/hover.jpeg" : "Instagram @arnie_chou"    
---

<div class="posts-list container-fluid">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% if posts.size > 0 %}
    <h3>My posts <i class="fa fa-pencil"></i></h3>
  {% endif %}

  {% for post in posts %}
  {% if post.blog %}
  <article class="row post-preview">
    <span class="col-sm-3 post-date hidden-xs">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}{{ site.t_date[page.lang].January }}
        {% when '2' %}{{ site.t_date[page.lang].February }}
        {% when '3' %}{{ site.t_date[page.lang].March }}
        {% when '4' %}{{ site.t_date[page.lang].April }}
        {% when '5' %}{{ site.t_date[page.lang].May }}
        {% when '6' %}{{ site.t_date[page.lang].June }}
        {% when '7' %}{{ site.t_date[page.lang].July }}
        {% when '8' %}{{ site.t_date[page.lang].August }}
        {% when '9' %}{{ site.t_date[page.lang].September }}
        {% when '10' %}{{ site.t_date[page.lang].October }}
        {% when '11' %}{{ site.t_date[page.lang].November }}
        {% when '12' %}{{ site.t_date[page.lang].December }}
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </span>
    <div class="col-sm-9 col-xs-12">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <span class="post-title">{{ post.title }}</span>
      </a>
    </div>
  </article>
  {% endif %}
  {% endfor %}
</div> 